@tailwind base;
@tailwind components;
@tailwind utilities;


body.modal-open {
    overflow: hidden;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('http://localhost:3000/schedule.png') no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}